*

!.vscode/
!.vscode/**
!.gitignore
!README.md
!release.sh
!laburinthos-linux-x64/
!laburinthos-linux-x64/**
!laburinthos-windows-x64/
!laburinthos-windows-x64/**
!laburinthos-linux-x64.zip
!laburinthos-windows-x64.zip

!laburinthos.sln
!laburinthos/
!laburinthos/**
laburinthos/Assets/labyrinth.bmp

laburinthos/bin/
laburinthos/obj/
laburinthos/labyrinth.bmp